PORT=5001
# DATABASE_URL="postgresql://postgres:newpassword@localhost:5432/customer-agent?schema=public"
DATABASE_URL=""
GROQ_API_KEY=
HF_API_KEY=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

SMTP_PASS=
SMTP_USER=
REDIS_URL=
# REDIS_URL=redis://redis:6379  for local server